<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCu_joVz4FIxLlJEHpPh-8pWuKhFyV38Lk",
    authDomain: "karcomputersdb.firebaseapp.com",
    projectId: "karcomputersdb",
    storageBucket: "karcomputersdb.appspot.com",
    messagingSenderId: "59368148173",
    appId: "1:59368148173:web:72821506bdfccb41d46d84"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>


//otras cofiguraciones

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if
          request.time < timestamp.date(2021, 8, 15);
    }
  }
}


//config2

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDiNYshhR5D0xCb4VTwEHKZTSU5V5zJ35M",
    authDomain: "karshopch.firebaseapp.com",
    projectId: "karshopch",
    storageBucket: "karshopch.appspot.com",
    messagingSenderId: "761062210885",
    appId: "1:761062210885:web:051764bad4b36acf28522c"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
